.jcian{
 height: 750px;
 background-image: linear-gradient(to right, rgb(2, 2, 2) , rgb(1, 39, 61));
margin-bottom: -100px;
position: relative;
z-index: 1;
top: -90px;
max-height: auto;
}
.jrow{
padding-top: 210px;
}
.jcol1{
    /* background-color: brown; */
    height: 400px;
    font-weight:bold;
    margin-top: 50px;
    color: white;
}
.jcol2{
    /* background-color: rgb(255, 193, 193); */
    height: 400px;
}
.BJCian{
    font-size: 46px;
    font-weight: 600;

}
.jcol1 p{
    font-size: 22px;
    margin-top: 40px;
    font-weight: 600;
}
.career1{
    margin-top: -90px;
    margin-left: 70px;
}