.bgimg{
position: absolute;
background-size:contain;
z-index: 0;
margin-top: -370px;
width: 100%;
height: 157.2%;
max-height: auto;
background-color: rgba(0, 255, 255, 0.116);
}
.tst{
    position:relative ;
    /* height: 220px; */
    margin-top: 60px;
    /* background-color: aqua; */

}
.tst1{
    /* background-color: rgb(153, 93, 93); */
    margin-top: 70px;
    padding-left: 80px;
}
.tst1a1{
    font-size: 46px;
    font-weight: 600;
    color: rgb(255, 255, 255);
 
}
.tst1a2{
    color: rgb(160,228,100);

}
.tst1a3{
    font-weight: 600;
    font-size: 17px;
    color: rgb(255, 255, 255);

}
.tst2{
padding-bottom: 50px;
    /* background-color: rgb(146, 21, 140); */
}
.bgimg1{
    position: absolute;
    z-index: -2;
    /* height: 600px;
    width: 100%; */

}
.core-section{
    height: 250px;
    /* background-color: black; */
    position: relative; 
    margin-top: 65px;

}
.core-cont{
color: white;
}
.services-span{
    color: rgb(160,228,100);
  
}
.core-col{
    background-image: linear-gradient(to right, rgba(65, 97, 61, 0.247) , rgba(43, 43, 14, 0));
    border-color: rgb(160,228,100);
    border-radius: 1px;
    border-left: 11px solid rgb(160,228,100);
}
.book-consult{
height: 42px;
width: 210px;
background-color: rgb(160,228,100);
border-radius: 3px;
color: black;
text-align: center;
vertical-align: middle;
line-height: 42px; 
margin-left: -19px;
}
.book-consult p{
    font-weight:700;
}
.book-consult :hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    color: rgb(160,228,100);
}
.core-col{
    margin-bottom: 30px;
}
.core-para{
    color: white;
    font-weight: 400;
}
.corebox1{
   height: 350px;
 background-color: aqua;  
}
.corebox2{
    height: 350px;
  background-color: rgb(110, 196, 13);  
 }
 .corebox3{
    height: 350px;
  background-color: aqua;  
 }
 .corebox4{
    height: 350px;
  background-color: rgb(196, 19, 202);  
 }
.corebox{
margin-right: 10px;
background-color: red;
height: 350px;
}
.blank{
min-height: 410px;
max-height: auto;
background-color: black;
}