.footer-class{

height: 400px;
background-color: rgba(102, 15, 112, 0.473);
position: relative;
}
.footer-class{
padding: 80px;
padding-top: 37px;
}
.logo-dtls{
    margin-top: 38px;
    
}
.unstyle{
list-style-type: none;
margin-left: -25px;
}
.unstyle li{

margin-bottom: 12px;
}


.unstyle li span{
margin-left: 15px;
}


.unstyle1 li{
list-style-type: none;
margin-bottom: 14px;
 }
.linking{
text-decoration: none;
color: black;

}
.copyright{
    margin-left: 7px;
    font-weight: 700;
    font-size: 100%;
}
.foot2ul{
    margin-top: 30px;
}
.footer2li a{
    text-decoration: none;
    color: black;
    font-weight: 500;

}