.footer-class{

height: 400px;
background-color: aqua;
position: relative;
}
.footer-class{
padding: 105px;
}
.logo-dtls{
    margin-top: 38px;
    
}
.unstyle{
list-style-type: none;
}
.unstyle li{

margin-bottom: 35px;
}

.unstyle li span{

    
}