.navbar {
    position: relative;
    z-index: 999;
    width: 100%;
  }
  
  .sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(26, 0, 41);

  }

.brand-navbr {
margin-top: 10px;
}

.brand-navbr .navbar-brand{
    color: rgb(0, 236, 39);
}
.main-navbar{
    position: sticky;
}
.main-navbar .Cont-Class .txt-dcr{
text-decoration: none;
margin-right: 100px;
}

a .nav-link{
        font-weight: 900;
        color: #16b49f;
        border-radius: 12px;


}
a .nav-link:focus{
    text-decoration: none;
    color: rgb(231, 13, 141) !important;
    background-color: transparent;

    
}
a .nav-link:hover{
    color: rgb(114, 10, 10);
    background-color:rgb(250, 1, 208);
    border-radius: 12px;

}


.logo-row{
  margin-left: -90px;
}
.logo{
    margin-right: 80px;

}
.main-navbar{
    font-weight: 700;
    position: relative;
    z-index: 20;
}





